{% extends 'base.html.twig' %}

{% block title %}Portfolio
{% endblock %}

{% block body %}
	<!--! === MAIN === -->
	<main>
		<!--! === SHOWCASE === -->
		<section class="showcase" id="home">
			<div class="showcase__container container">
				<h1 class="showcase__title title tittle--main">Christopher Baudouin Développeur Web</h1>
				<picture class="showcase__image">
					<source media="(min-width: 768px)" srcset="">
					<img src="" alt="">
				</picture>
			</div>
		</section>

		<!--! === PROJET === -->

		<section class="portfolio" id="portfolio">
			<div class="portfolio__container container">
				<div class="portfolio__metadata sction-metadata">
					<h2 class="title">Mes Projets</h2>
				</div>
				<div class="swiper myswiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="{{ asset('assets/images/appleCloneHome.png') }}" alt="AppleCloneHome" data-text="<h3>Apple Clone Home</h3><p>Création d'une réplique de la page d'accueil d'Apple en utilisant HTML, CSS et JavaScript.<br> Ce projet met particulièrement l'accent sur le design du menu et la structure visuelle de la page d'accueil, démontrant ma capacité à recréer des interfaces utilisateur attrayantes</p>" data-url="https://kris86000.github.io/AppleCloneHome/">
						</div>
						<div class="swiper-slide">
							<img src="{{ asset('assets/images/MyDeezer.png') }}" alt="MyDeezer" data-text="<h3>MyDeezer</h3><p>Développement de MyDeezer, une application web permettant de parcourir la discographie des artistes via l'API Deezer.<br> Ce projet illustre ma maîtrise de l'intégration et de la manipulation des données d'API, tout en offrant une expérience utilisateur fluide et intuitive.</p>" data-url="https://kris86000.github.io/DeezerPerso/">
						</div>
						<div class="swiper-slide">
							<img src="{{ asset('assets/images/mabeDesign.png') }}" alt="Mabe Design" data-text="<h3>Mabe Design</h3><p>Réalisation du site web de MabeDesign, une graphiste, en utilisant le framework Symfony.<br> Le site a été conçu pour le lancement de son entreprise, en respectant la maquette et la charte graphique fournies par la cliente. Ce projet souligne ma capacité à comprendre et répondre aux besoins spécifiques des clients.</p>" data-url="https://mabedesign.fr/">
						</div>
						<div class="swiper-slide">
							<img src="{{ asset('assets/images/epsicorp.png') }}" alt="Epsicorp" data-text="<h3>EpsiCorp</h3><p>Développement de EpsiCorp, mon site professionnel en tant qu'auto-entrepreneur dans le développement web et mobile.<br> Créé avec Symfony, ce site présente mes services et mes compétences, Le site va subir une refonte côté Front d'ici peu.</p>" data-url="https://epsicorp-pro.fr/">
						</div>
						<div class="swiper-slide">
							<img src="{{ asset('assets/images/musicArt.png') }}" alt="Projet certif" data-text="<h3>Musci'Art</h3><p>Projet de certification pour l'obtention du titre de développeur web et web mobile en février 2023.<br> Music'Art est un site e-commerce de vente en ligne d'instruments de musique, développé avec Symfony et Bootstrap pour le front-end. Le projet inclut un dashboard admin réalisé avec EasyAdmin, démontrant mes compétences en développement full-stack et en gestion de projets complexes.</p>">
						</div>
						<div class="swiper-slide">
							<img src="{{ asset('assets/images/appMeteo.png') }}" alt="AppMeteo" data-text="<h3>AppMeteo</h3><p>Création d'une application météorologique pour démontrer ma capacité à extraire et à utiliser des données provenant d'API.<br> Ce projet simple et fonctionnel illustre mon expertise en manipulation de données externes et en présentation d'informations utiles à l'utilisateur.</p>" data-url="https://kris86000.github.io/AppMeteo/">
						</div>
					</div>
					<!-- Pagination -->
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<!-- Modal projet -->
			<div id="imageModal" class="modal">
				<span class="close">&times;</span>
				<img class="modal-content" id="modalImage">
				<div id="modalText" class="modal-text"></div>
				<a id="modalButton" class="modal-button btn btn--text btn-green" href="" target="_blank">Voir le projet</a>
			</div>
		</section>

		<!--! === MES STACK === -->
		<section class="services" id="services">
			<div class="services__container container">
				<div class="services__metadata section-metadata">
					<h2 class="title">Mes stacks</h2>
					<p class="section-metadata__description">J'utilise principalement Symfony pour le développement backend, créant des applications web robustes. Pour le frontend, j'emploie HTML5, CSS3 et JavaScript , avec des notions en React pour des interfaces utilisateur dynamiques.
																													De plus, j'intègre Google Analytics et d'autres outils de suivi pour analyser les performances des applications.</p>
				</div>
				<div class="services__image-wrapper">
					<img src="{{ asset('assets/images/stack1.jpg') }}" alt="">
				</div>
				<div class="services__list">
					<div class="services__list-divider">
						<article class="services__list-item">
							<i class="ri-code-s-slash-line services__list-icon"></i>
							<h3 class="services__list-title title">Front-End</h3>
							<div class="services__list-description">
								<div class="top-icons">
									<img src="{{ asset('assets/images/html5-original.svg') }}" alt="HTML5">
									<img src="{{ asset('assets/images/css3-plain.svg') }}" alt="CSS3">
									<img src="{{ asset('assets/images/javascript-plain.svg') }}" alt="JS">
								</div>
								<div class="bottom-icons">
									<img src="{{ asset('assets/images/jquery-original-wordmark.svg') }}" alt="Jquery">
									<img src="{{ asset('assets/images/react-original.svg') }}" alt="ReactJS">
									<img src="{{ asset('assets/images/wordpress-original.svg') }}" alt="Wordpress">
								</div>
							</div>
						</article>
						<article class="services__list-item">
							<i class="ri-database-2-line services__list-icon"></i>
							<h3 class="services__list-title title">Back-End</h3>
							<div class="services__list-description">
								<div class="top-icons">
									<img src="{{ asset('assets/images/php-original.svg') }}" alt="PHP">
									<img src="{{ asset('assets/images/symfony-original.svg') }}" alt="Symfony">
									<img src="{{ asset('assets/images/mysql-original-wordmark.svg') }}" alt="MySql">
								</div>
								<div class="bottom-icons">
									<img src="{{ asset('assets/images/woocommerce-original.svg') }}" alt="Woocommerce">
									<img src="{{ asset('assets/images/mariadb-original-wordmark.svg') }}" alt="MariaDB">
								</div>
							</div>
						</article>
					</div>
					<article class="services__list-item">
						<i class="ri-tools-fill services__list-icon"></i>
						<h3 class="services__list-title title">Outils annexes</h3>
						<div class="services__list-description">
							<div class="top-icons">
								<img src="{{ asset('assets/images/vscode-original.svg') }}" alt="VSCode">
								<img src="{{ asset('assets/images/github-original.svg') }}" alt="GitHub">
								<img src="{{ asset('assets/images/chatGPT-original.png') }}" alt="ChatGPT">
							</div>
							<div class="bottom-icons">
								<img src="{{ asset('assets/images/google-analytics-original.svg') }}" alt="Analytics">
								<img src="{{ asset('assets/images/canva-original.svg') }}" alt="Canva">
							</div>
						</div>
					</article>
				</div>
			</div>
		</section>

		<!--! === ABOUT === -->

		<section class="about" id="about">
			<div class="about__container container">
				<div class="about__information">
					<h2 class="about__information-title title">Mon Profil</h2>
					<p class="about__information-description">Hello !! Je suis Christopher Baudouin, ancien technicien dans l'industrie pendant plus de 10 ans. En 2022, j'ai décidé de me reconvertir en tant que développeur web, suite à l'obtention du titre de Développeur web & web mobile en Février 2023.</p>
					<p class="about__information-description">Depuis, je suis constamment en quête de nouvelles compétences et de défis excitants dans ce domaine en constante évolution. Actuellement à la recherche d'une opportunité professionnelle dans le développement web, je suis motivé et déterminé à apporter ma contribution à des projets innovants et stimulants.</p>
					<a href="/dl-cv" class="btn btn--text btn-green">Télécharger mon CV</a>
				</div>
				<div class="about__images">
					<img src="{{ asset('assets/images/Chris1.jpg') }}" alt="" class="about__images-image about__images-image--top">
					<img src="{{ asset('assets/images/moi2.jpeg') }}" alt="" class="about__images-image about__images-image--bottom">
				</div>
			</div>
			<!--! === Rajouté un badge de dispo en vert a vec un rond devant === -->
		</section>
	</main>
	<script src="assets/js/animation.js"></script>
	<script src="assets/js/swiper.js"></script>
{% endblock %}
